<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body class="antialiased">
    <div id="root">
       <div>
          <div class="antialiased p-6">
             <nav class="flex items-center justify-between flex-wrap">
                <a href="/"><img alt="" width="79px" viewbox="0 0 79 24" height="24px"
                                                                         src="img/logo-generic.png"></a>
                <div>
                  <button class="bg-white hover:bg-white hover:shadow-outline hover:border hover:border-black focus:shadow-outline focus:bg-white font-light py-2 px-4 rounded" type="button" style="" onclick="window.location.href='/'">Start Over</button>
                </div>
             </nav>

             <div class="flex justify-center">
                <div class="w-full max-w-md m-6 mt-20">
                   {{{body}}}
                </div>
              </div>
          </div>
       </div>
  </body>
</html>
